body
{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.menu
{
	background-color: black;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav li 
{
	display: inline;
	list-style: none;
	margin: 10px;
}

nav a 
{
	text-decoration: none;
	color: white;	
}

a:hover
{
	text-decoration: underline;
}

.photo
{
	height: 400px;
	width: 300px;
    float: left;
    padding: 15px;
    padding-left: 20px;
    padding-top: 0px;
}

.accueil
{
	text-align: center;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 100px;
	padding-top: 30px;
	padding-right: 50px;
	font-size: 20px;
}

.CV
{
	border: 1px solid #000000;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    padding: 10px;
}

.competences
{
	margin-top: 180px;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 60px;
}

.flexbox
{
	display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.container {
   	background-color: transparent;
   	border: solid;
    width: 50%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
  
.skill {
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

.logo_html
{
	height: 100px;
	width: 100px; 
	margin-bottom: 10px;
}
.html 
{
    width: 90%;
    background-color: white;
}

.logo_css
{
	height: 100px; 
	width: 70px; 
	margin-bottom: 10px;
}

.css
{
	width: 70%;
	background-color: white;
}

.logo_php
{
	height: 100px; 
	width: 150px; 
	margin-top: 10px;
}
  
.php 
{
    width: 70%;
    background-color: white;
}

.logo_sql
{
	height: 100px; 
	width: 100px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.sql
{
	width: 95%;
	background-color: white;
}

.logo_java
{
	height: 100px; 
	width: 150px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.java
{
	width: 75%;
	background-color: white;
}

.logo_linux
{
	height: 100px; 
	width: 160px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.linux
{
	width: 70%;
	background-color: white;
}

.logo_apple
{
	height: 100px; 
	width: 100px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.apple
{
	width: 80%;
	background-color: white;
}

.logo_windows
{
	height: 100px; 
	width: 100px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.windows
{
	width: 70%;
	background-color: white;
}

.logo_gitlab
{
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	margin-top: 10px;
}

.gitlab
{
	width: 90%;
	background-color: white;
}

.logo_lamp
{
	height: 100px;
	width: 100px; 
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo_eon
{
	height: 100px; 
	width: 100px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.logo_sql2
{
	height: 100px; 
	width: 100px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.projets
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.projets span
{
	text-align: center;
	display: none;
}

.projets p
{
	border: solid black;
	border-radius: 15px;
}

.flexbox2
{
	display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.elementa, .elementb, .elementc
{
	margin-top: 20px;
}

.elementd
{
	margin-top: 40px;
}

.loisirs
{
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 60px;
}

.loisirs p
{
	font-size: 20px;
	text-align: center;
}

.flexbox3
{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.contact
{
	text-align: center;
	margin-top: auto;
}

.information
{
	height: 100px;
	width: 100px;
	margin-left: 0%;
	animation: rotate 2s infinite linear;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.footer
{
	background-color: black;
	text-align: center;
	font-size: 20px;
	color: white;
	margin-bottom: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}