@media screen and (max-width: 578px)
{
	.menu
	{
		font-size: 16px;
	}

	.accueil
	{
		text-align: center;
		font-weight: bold;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		font-size: 20px;
	}

	.photo
	{
		display: none;
	}

    .texte {
    	padding-left: 50px;
    	margin-top: 200px;
    	margin-bottom: -100px;
	}

	.competences
	{
		padding-bottom: 40px;
	}

	.flexbox
	{
		width: 90%;
		display: inline;
		padding-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 85%;
	}

	.flexbox2
	{
		width: 90%;
		display: inline;
		padding-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 85%;
	}

	.flexbox3
	{
		display: inline;
		width: 85%;
	}
}

@media screen and (max-width: 1105px)
{
	.accueil
	{
		display: block;
	}

	.photo
	{
		display: none;
	}

	.texte
	{
		margin-top: -20px;
		margin-bottom: -100px;
		margin-left: auto;
		margin-right: auto;
	}

}